* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: white;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

}

a {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;

    line-height: 100%;
    letter-spacing: 0%;

}

button {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    color: white;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #50A0C8;
    border-radius: 3px;
    width: 170px;
    min-height: 45px;
    border: none;
}

.banner {
    display: flex;
    align-items: center;

    padding-top: 80px;
    padding-bottom: 80px;
}

.left {
    flex: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right {
    flex: 40%;
    text-align: center;

}

.imagecom {
    width: 440px;
    height: 300px;

}

.backimage {
    background-image: url('./assests/images/bcimagefirstsec.png');
    background-size: cover;

}

.banner h5 {
    font-family: Roboto;
    font-weight: 600px;
    font-style: SemiBold;
    font-size: 18px;
    color: #50A0C8;
    line-height: 100%;
    letter-spacing: 0%;

}

.banner h2 {
    font-family: Roboto;
    font-weight: 500px;

    font-size: 56px;
    color: black;
    line-height: 100%;
    letter-spacing: 0%;

}

.banner p {
    color: #636363;
    font-family: Roboto;
    font-weight: 400px;
    font-style: Regular;
    font-size: 16px;

    line-height: 26px;
    letter-spacing: 0%;
    max-width: 300px;

}

.sec2paragrapg {
    text-align: center;
}

.sec2paragrapg h3 {
    padding-top: 40px;

    font-family: Roboto;
    font-weight: 500px;
    font-style: Medium;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0%;
    color: #1F1F1F;
    padding-bottom: 15px;
}

.sec2paragrapg p {
    font-family: Roboto;
    font-weight: 400px;
    font-style: Regular;
    font-size: 16px;

    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    color: #636363;
    max-width: 970px;
    padding-bottom: 60px;
padding-left: 30px;
}


.grid1 {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
}

.grid1 .grid1divs {
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid #50A0C84D;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 0px #50A0C84D;
   
}


.image-wrapper{
  background-color: #F6F6F6;
   max-height: 190px;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  
}
.grid1 h5 {
    font-family: Roboto;
    font-weight: 600px;
    font-style: SemiBold;
    font-size: 20px;
    text-align: center;
padding-top: 20px;
    letter-spacing: 0%;
   padding-bottom: 20px;
}

.grid1 p {
    font-family: Roboto;
    font-weight: 400px;
    font-style: Regular;
    font-size: 16px;
    text-align: justify;
    line-height: 20px;
    letter-spacing: 0%;
    color: #636363;
    padding: 10px 5px 30px 5px;
}

.grid1 button {
    font-family: Roboto;
    font-weight: 500px;
    font-style: Medium;
    font-size: 16px;
    color: white;
    background-color: #50A0C8;

}
.sec4{
    background-color: #F6F6F6;
    padding-bottom: 30px;
}

.sec4 > h2:first-child{
font-family: Roboto;
font-weight: 600px;
font-style: SemiBold;
font-size: 32px;
color: #1F1F1F;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
padding: 30px 0px 10px 0px
}
.sec4 > p:nth-child(2){
    font-family: Roboto;
font-weight: 400px;
font-style: Regular;
font-size: 16px;
color: #636363;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
padding:20px 50px 30px 50px;

}
.grid2 {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
 padding: 0px 30px 0px 30px;
 margin-bottom: 30px;
}
.grid2 .grid2divs {
    width: 100%;
    height: 100%;
    text-align: justify;
   background-color: white;
    /* padding-bottom: 30px; */
    border-radius: 10px;
 
   padding: 0px 20px 0px 20px;
}
.grid2 h5{
    font-family: Roboto;
font-weight: 500px;
font-style: Medium;
font-size: 18px;
color: #1F1F1F;
line-height: 28px;
letter-spacing: 0%;
padding: 20px 0px 15px 0px;
}
.grid2 h6{
    font-family: Roboto;
font-weight: 400px;
font-style: Regular;
font-size: 18px;
color: #50A0C8;
line-height: 28px;
letter-spacing: 0%;
padding-bottom: 20px;

}
.grid2 p{
    font-family: Roboto;
font-weight: 400px;
font-style: Regular;
font-size: 16px;
color: #636363;
line-height: 26px;
letter-spacing: 0%;
text-align: justify;

}
.btnsec4{
margin-left:40% 
}